---
// SUPER SIMPLE TEST
console.log("=== Page loading ===");
---

<html>
<body>
  <h1>TEST: Page works</h1>
  <p>If you see this, the basic page works.</p>
  <p>Check terminal for the log message.</p>
</body>
</html>